.header-top__block {
  .ss-main {
    // padding: 0 16px;

    .ss-single-selected {
      border: 1px solid transparent;
      border-radius: 0;
      background-color: transparent;
      font-size: 20px;
      line-height: 22px;
      padding: 6px 16px;

      &:hover {
        border-color: transparent;
      }

      .placeholder {
        opacity: 1;
        background-color: transparent;
        .ss-disabled {

        }
      }

      .ss-arrow {
        margin: 0 6px 6px;
        span {
          border-color: $primary-color;
          padding: 4px;
        }
      }

      &.ss-open-below {
        .ss-arrow {
          margin: 0 6px 0;
        }
      }
    }


  }

  .ss-content {
    .ss-list {
      text-align: center;
      font-size: 20px;
      line-height: 22px;
      .ss-option {

        &:hover, &.ss-highlighted {

        }

        &.ss-disabled {

        }
      }
    }


    &.ss-open {
      border-color: transparent;
      background: rgba(255, 255, 255, 1);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
    }
  }
}

.ss-main {
  .ss-single-selected {
    // border: 1px solid;
    align-items: center;
    border-radius: 0;
    // background-color: transparent;
    font-size: 20px;
    line-height: 22px;
    padding: 6px 16px;

    &:hover {
      // border-color: transparent;
    }

    .placeholder {
      opacity: 1;
      background-color: transparent;
      @extend %hidden-text-1;
      .ss-disabled {

      }
    }

    .ss-arrow {
      // margin: 0 6px 0 auto;
      span {
        border-color: $primary-color;
        padding: 4px;
      }
    }

    &.ss-open-below {

    }
  }
}

.ss-content {
  .ss-list {
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    .ss-option {

      &:hover, &.ss-highlighted {
        background-color: rgba(209, 3, 36, 0.05);
        color: $text-dark;
      }

      &.ss-disabled {

      }
    }
  }


  &.ss-open {
    // border-color: transparent;
    // background: rgba(255, 255, 255, 1);
    //-webkit-backdrop-filter: blur(4px);
    //backdrop-filter: blur(4px);
  }
}
