#main-slider {
  .splide__slide {
    img {
      width: 100%;
      height: 100vh;
      max-height: 742px;
      object-fit: cover;
    }
  }
}

.splide__slide {
  opacity: 0.8;
  img {
    width: 100%;
    object-fit: cover;
  }
  &.is-active {
    opacity: 1;
  }
}

.splide__progress__bar {
  height: 3px;
  background: #ccc;
}

.thumbnail-progress {
  background: #ccc;
  position: absolute;
  visibility: hidden;
  width: 100%;
  bottom: 0;
  left: 0;
  &-bar {
    background: $secondary-color;
    height: 2px;
    transition: width 400ms ease;
    width: 0;
  }
}

.thumbnails {
  width: 1680px;
  display: flex;
  // max-width: 1680px;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: flex-end;

  &-scroll {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    z-index: 2;
  }
}

.thumbnail {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  width: 25%;
  max-width: 100%;
  height: 230px;
  // overflow: hidden;
  list-style: none;
  margin: 0;
  cursor: pointer;
  transform: scale(1);
  transition: all 1s ease-out;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(250, 250, 250, 0.5) 0%, #FAFAFA 50%);
    // filter: blur(5px);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
  }

  & > * {
    z-index: 2;
  }

  & > div {
    padding: 25px;
  }

  h5 {
    margin-bottom: 32px;
  }

  p {
    margin: 0 0 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: $text-gray;
  }

  &.is-active {
    background: white;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 2;
    transform: scale(1.07);
    margin-bottom: 15px;
    &::before {
      background: white;
      //filter: blur(0);
      -webkit-backdrop-filter: blur(0);
      backdrop-filter: blur(0);
      border-radius: 10px;
    }
    & > div {
      padding: 25px 40px;
    }
    p {
      color: $text-dark;
      span {
        color: $text-red;
      }
    }

    .thumbnail-progress {
      visibility: visible;
    }
  }
}


@media (max-width: 1680px) {
  .thumbnails-scroll {
    overflow: hidden;
    overflow-x: auto;
    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #979797;
      border-radius: 5px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #999;
    }
  }
}
