.payments {
  padding: 58px 0;

  &-container {
    margin-bottom: 60px;
    align-items: flex-start;

    &__second {

    }
  }

  &-block {
    max-width: 128px;
    width: 100%;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    img {
      display: block;
      margin-bottom: 18px;
    }
    h6 {
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      color: $primary-color;
      margin-bottom: 8px;
    }
    span {
      display: inline-block;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      color: #565656;
    }
  }


}

@media (min-width: 1700px) {
  .payments-block {
    margin: 0 20px;
    h6 {
      padding-left: 10px;
    }
    span {
      padding-left: 10px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 1680px) {
  .payments-block {
    margin: 0 10px 20px;
    span {
      font-size: 14px;
    }
  }
}

@media (max-width: 1200px) {
  .payments-container {
    justify-content: center;
  }
  .payments-block {
    flex: 0 0 auto;
    padding: 0 10px;
  }
}
