.office {

  .credits-tabs {
    .nav-link {
      padding: 20px 50px;
      font-size: 20px;
      line-height: 24px;
      &.active {
        background: url('../images/icons/tab-red.png') no-repeat;
        background-size: 100% 100%;
      }
    }
  }

  &-aside {
    @extend %box-shadow;
    padding: 24px;
  }

  &-maps {
    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.15));
    border-radius: 15px;
  }

}
