.scroll-block {
  position: relative;
  width: 100%;
  // z-index: 2;
}

@media (max-width: 1680px) {
  .scroll-block  {
    //overflow: hidden;
    //overflow-x: auto;
    /* width */
    //&::-webkit-scrollbar {
    //  width: 6px;
    //}
    //
    ///* Track */
    //&::-webkit-scrollbar-track {
    //  background: #f1f1f1;
    //}
    //
    ///* Handle */
    //&::-webkit-scrollbar-thumb {
    //  background: #979797;
    //  border-radius: 5px;
    //  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    //}
    //
    ///* Handle on hover */
    //&::-webkit-scrollbar-thumb:hover {
    //  background: #999;
    //}
  }
}

@media (max-width: 1440px) {
  .nav.nav-tabs {
    width: 1256px;
  }
}

@media (max-width: 650px) {
  .nav.nav-tabs {
    width: 1070px;
  }
}
