.company {

  .credits-tabs {
    .nav-link {
      padding: 20px 35px;
      &.active {
        background: url('../images/icons/com-tabs-icon.png') no-repeat;
        background-size: 100% 100%;
      }
    }
  }

  p {
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
  }

}
