.credits {

  .petal-icon {
    top: auto;
    bottom: -80px;
  }

  &-tabs {
    border: none;
    margin-top: -1px;
    flex-wrap: nowrap;

    .nav-link {
      position: relative;
      padding: 20px 70px;
      border: none;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 27px;
      color: $primary-color;
      margin: 0;
      border-radius: unset;
      background: transparent;

      &.active {
        //background: #D9F1FD;
        //box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
        //border-radius: 0 0 10px 10px;
        background: url("../images/icons/tabs.png") no-repeat;
        background-size: 100% 100%;
        font-weight: bold;

      }
    }

    &-content {
      margin: 24px 0;
      &__title {
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        color: $text-color;
      }
    }

  }


  &-dropdown {
    max-width: 400px;
    width: 100%;
    background: linear-gradient(0deg, #FAFAFA 0%, rgba(250, 250, 250, 0) 100%);
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    //transform: rotate(180deg);

    button {
      font-weight: normal;
      font-size: 24px;
      line-height: 27px;
      width: 100%;
      height: 60px;
      &::after {
        vertical-align: baseline;
      }
    }

    .dropdown-menu {
      width: 100%;
      .dropdown-item {
        font-size: 20px;
      }
    }
  }



}



.credits-table {
  margin-top: 32px;
  h5 {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: $secondary-color;
  }
  table {
    @extend %box-shadow;
    thead {
      background: #FAFAFA;
      border: none;
      tr {
        border: none;
      }
      th {
        border: none;

        &:nth-child(1) {
          width: 150px;
        }
        &:nth-child(2) {
          width: 200px;
        }
        &:nth-child(3) {
          width: 280px;
        }
        &:nth-child(4) {
          width: 200px;
        }
        &:nth-child(5) {
          // width: 150px;
        }
      }
    }
    tbody {
      border: none;
      td {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 10%;
          right: 0;
          width: 0;
          height: 80%;
          border: 1px solid rgba(0,0,0,.2);
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .table {
    &>:not(caption)>*>* {
      padding: 24px;
      vertical-align: baseline;
    }
    &-bordered tr, &-bordered td {
      border-color: #b7b7b7;
      border: none;
    }
    &>:not(caption) > * {
      border-width: 0;
    }

    &>:not(caption) > tr td:first-child,
    &>:not(caption) > tr td:last-child {
      border-width: 0;
    }
    &>:not(:first-child) {
      border-top: none;
    }
  }

}


.credit-container__horizontal {
  &.credit-container__left {
    margin: 80px 20px;
    height: auto;
    h5 {
      margin-bottom: 40px;
    }
    .calc_result {
      .result_item {
        margin-bottom: 17px;
      }
    }
    .result_item #price {
      font-size: 24px;
      line-height: 27px;
      &::after {
        font-size: 26px;
        line-height: normal;
        vertical-align: bottom;
      }
    }
    .result_item p#allSum {
      &::after {
        font-size: 26px;
      }
    }
  }
}


@media (max-width: 1260px) {
  .credits {
    .petal-icon {
      top: auto;
      bottom: 0;
    }
    //&-scroll {
    //  overflow: hidden;
    //  overflow-x: auto;
    //  /* width */
    //  &::-webkit-scrollbar {
    //    width: 2px;
    //  }
    //
    //  /* Track */
    //  &::-webkit-scrollbar-track {
    //    background: #f1f1f1;
    //  }
    //
    //  /* Handle */
    //  &::-webkit-scrollbar-thumb {
    //    background: #979797;
    //    border-radius: 5px;
    //    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    //  }
    //
    //  /* Handle on hover */
    //  &::-webkit-scrollbar-thumb:hover {
    //    background: #999;
    //  }
    //}
  }
}

@media (max-width: 700px) {
  .credits {
    .d-flex.align-items-center.justify-content-between {
      flex-wrap: wrap;
    }
  }
}
