.button-primary {
  text-align: center;
  padding: 12px 31px;
  min-width: 163px;
  height: 44px;
  background: $primary-color;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: $white;
  text-decoration: none;
  border: 1px solid $primary-color;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  @extend %flex-center;
  @extend %transition;
  @extend %border-radius-5;
  &:hover {
    background: transparent;
    color: $primary-color;
  }
  &__outline {
    background: $white;
    color: $primary-color;
    border-color: $primary-color;
    &:hover {
      color: $white;
      background: $primary-color;
      border-color: $primary-color;
    }
  }
}

.button-secondary {
  @extend .button-primary;
  background: $secondary-color;
  border-color: $secondary-color;
  &:hover {
    background: transparent;
    color: $secondary-color;
  }
  &__outline {
    background: $white;
    color: $secondary-color;
    &:hover {
      color: $white;
      background: $secondary-color;
      border-color: $secondary-color;
    }
  }
}

.button-secondary + .button-primary {
  margin-right: 20px;
}

.button-gray {
  @extend .button-primary;
  background: #FAFAFA;
  border-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  color: $primary-color;
  &:hover {
    background: transparent;
    color: $primary-color;
    border-color: transparent;
  }
}
