%position-relative {
  position: relative;
}
%z-index-2 {
  z-index: 2;
}
%border-radius-5 {
  border-radius: 5px;
}
%border-radius-50 {
  border-radius: 50%;
}
%flex {
  display: flex;
}
%flex-column {
  flex-direction: column;
}
%flex-wrap {
  flex-wrap: wrap;
}
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%box-shadow {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
%transition {
  transition: all .2s ease;
}
%hidden-text-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
%hidden-text-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
%hidden-text-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

%hidden-text-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
