@font-face {
  font-family: Sansation;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/sansation/Sansation_Regular.ttf');
}
@font-face {
  font-family: Sansation;
  font-weight: bold;
  font-display: swap;
  src: url('../fonts/sansation/Sansation_Bold.ttf');
}
@font-face {
  font-family: Sansation;
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/sansation/Sansation_Bold_Italic.ttf');
}
@font-face {
  font-family: Sansation;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/sansation/Sansation_Light.ttf');
}
@font-face {
  font-family: Sansation;
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/sansation/Sansation_Light_Italic.ttf');
}

