.footer {
  color: $white;
  background-color: $primary-color;
  padding: 43px 0;

  &-menu {
    h5 {
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 16px;
    }
    ul {
      li {
        a {
          font-size: 14px;
          line-height: 26px;
          color: white;
          &:hover, &:focus {
            color: white;
            text-decoration: underline;
          }
        }
      }
    }
    strong {
      a {
        font-size: 18px;
        line-height: 20px;
        color: white;
        text-decoration: none;
        &:hover, &:focus {
          color: white;
          text-decoration: underline;
        }
      }
    }
  }

  &-row {
    margin-bottom: 40px;
  }

  &-social {
    max-width: 240px;
    a {
      display: block;
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}


@media (max-width: 576px) {
  .footer {
    &-menu {
      ul {
        height: 0;
        overflow: hidden;
      }
      ul li a {
        justify-content: center;
      }
      h5 {
        position: relative;
        display: inline-block;
        &::before {
          content: '';
          background: url("../images/icons/arrow-down-white.svg") no-repeat;
          background-size: contain;
          width: 15px;
          height: 12px;
          right: -24px;
          top: 5px;
          position: absolute;
          transition: all .2s ease;
        }
      }
      &.active {
        h5 {
          &::before {
            transform: rotate(180deg);
          }
        }
        ul {
          height: auto;
          overflow: auto;
          margin-bottom: 30px;
        }
      }
    }
    &-social {
      max-width: 100%;
      margin-top: 30px !important;
      .d-flex {
        max-width: 240px;
        margin: 0 auto;
      }
    }
  }
}


@media (max-width: 650px) {
  .footer {
    .logo-link {
      max-width: 122px;
      margin: 0 auto;
      img {
        max-width: 100% !important;
      }
    }
  }
}
