#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999999999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-bg-color;
  transform: translateY(0); // scaleY(1);
  transform-origin: bottom;
  opacity: 1;
  transition: transform 1s ease-out, opacity 32s ease-out;
}

.preload {
  //&--visible {
  //  transition: transform 1s ease-out;
  //}
  &--hidden {
    transform: translateY(100%) !important;
    opacity: 0 !important;
    // height: 0 !important;
  }
}


