.banner {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  max-height: 549px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);

  h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 72px;
    color: $text-color;
  }

  p {
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
  }

  &-info {
    margin-bottom: 90px;
  }

  &-menu {
    position: absolute;
    right: 0;
    bottom: 45px;

    a {
      box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
      width: 460px;
      padding: 0 22px;
      height: 70px;
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(4px);
      border-radius: 15px 0 0 15px;
      font-weight: bold;
      font-size: 22px;
      line-height: 25px;
      text-decoration: none;
      color: $text-color;
      margin-bottom: 16px;
      &:hover {
        background: white;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 2000px) {
  .d-flex.align-items-end.justify-content-between.h-100 {
    position: relative;
  }
}

@media (max-width: 1900px) {
  .banner {
    background-size: auto;
  }
}

@media (max-width: 600px) {
  .banner {
    max-height: 350px;
    h1 {
      font-size: 40px;
      line-height: normal;
    }
    p {
      font-size: 18px;
      line-height: normal;
    }
  }
  .banner-info {
    margin-bottom: 20px;
  }
  .banner-menu a {
    display: none !important;
  }
}

