.people {

}

.director-left {
  margin-top: 89px;
  .card {
    border: none;

    img {
      max-width: 303px;
      max-height: 303px;
    }

    &-body {
      flex: auto;
      padding: 0 1rem 1rem;
    }

    &-title {
      font-weight: bold;
      font-size: 24px;
      line-height: 27px;
      margin-bottom: 0;
    }

    &-position {
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
    }

    &-text {
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      color: black;
    }

    &:nth-child(even) {
      flex-direction: row-reverse !important;
      .card-title {
        text-align: right;
      }
      .card-position {
        text-align: right;
      }
    }

  }
}


@media (max-width: 768px) {
  .director-left {
    .card {
      flex-direction: column !important;
      text-align: center !important;
      img {
        margin: 0 auto 20px;
      }
      &:nth-child(even) {
        flex-direction: column !important;
        .card-title {
          text-align: center;
        }
        .card-position {
          text-align: center;
        }
      }
    }
  }
}
