.credit-container {
  margin-top: 120px;

  .nav-tabs {
    justify-content: center;
    border-bottom: none;
    .nav-item {
      flex: 0 0 auto;
      width: 33.33333333%;
      max-width: 100%;
    }
    .nav-link {
      background: transparent; //rgba(243, 244, 245, 0.3)
      backdrop-filter: blur(40px);
      // margin-bottom: -2px;
      margin-right: 0;
      margin-left: 0;
      width: 100%;
      padding: 28px 32px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom: 1px solid #B7B7B7;
      img {
        height: 41px;
        width: 40px;
        margin-right: 22px;
      }
      span {
        margin: 0 auto;
        text-align: left;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
      }
      &.active {
        background: white;
        backdrop-filter: blur(0px);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-color: #B7B7B7;
        border-bottom: none;
      }
    }
  }

  h5 {
    margin-bottom: 38px;
    padding: 0 66px;
  }

  .tab-content {
    border: 1px solid #B7B7B7;
    border-top: none;
    background: white;
    border-radius: 0 0 10px 10px;
  }

  &__left {
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 24px;
    height: 100%;

    .ss-main {
      max-width: 196px;
      border-radius: 5px;
      border-color: $border-color;
      .ss-single-selected {
        border-radius: 5px;
        border-color: $border-color;
        background: rgba(209, 3, 36, 0.05);
        height: 40px;
        .placeholder {
          max-width: 135px;
        }
        .ss-arrow {
          margin: 0 6px 0 auto;
          span {

          }
        }
      }
    }
  }

  #home {
    .row.py-5 {
      padding-left: 117px;
      padding-right: 117px;
    }
    .col-sm-12.col-md-4{
      padding-top: 12px;
    }

    label {
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      display: block;
      margin-bottom: 16px;
    }
  }

  &__right {
    background: #fff;
    border: 1px solid #b7b7b7;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 24px;

    .col-ms-12.col-md-6 {
      &:nth-child(1) {
        border-right: 1px solid $border-color;
        padding-right: 29px;
      }
    }
  }
}

.percentage-block {
  @extend %flex-center;
  width: 50px;
  height: 40px;
  font-size: 16px;
  line-height: 18px;
  // padding: 11px 12px;
  color: $text-dark;
  border: 1px solid $border-color;
  border-radius: 5px;
  background: #FDF2F4;
}

// CREDIT ONLINE
.credit-online {
  padding: 40px 16px;
  h5 {
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 40px;
  }

  .form-label {
    font-size: 12px;
    line-height: 13px;
    color: rgba(41, 56, 69, 0.5);
  }

  .alert-danger {
    color: $primary-color;
    background-color: #FFF8F9;
    border-color: #E5E5E5;
  }
}

// RANGE UI SLIDER

.slider_universal_texts_payment {
  position: relative;
  width: 160px;
  font-size: 18px;
  color: $text-dark;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 5px;
  margin: 0;

  input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $text-dark;
  }

  span {
    position: absolute;
    right: 20px;
    top: 2px;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    text-decoration: underline;
  }

  &.slider_day {
    span {
      top: 5px;
      right: 13px;
    }
  }
}

#universal_hidden, #slider_universal_min_payment-hidden, #slider_universal_min_payment-hidden2 {
  width: 100%;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  padding: 0;
  background: rgba(209, 3, 36, 0.05); // #D10324
}

#universal_hidden {
  position: relative;
}

#slider_universal, #slider_universal_min_payment, #slider_procent {
  background: rgba(209, 3, 36, 0.1);
  border: none;
  height: 4px;
}

.ui-slider-handle:after {
  content: '' !important;
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  transform: translate(-50%,-58%) !important;
  background-color: $secondary-color !important;
  cursor: pointer
}


.slider_universal_terms,
.slider_universal_first_p {
  position: relative;
  @extend %flex-center;
  justify-content: space-between;
  padding: 8px 0;
}

.ui-slider-handle {
  top: -11px !important;
  background: rgba(195, 0, 25, 0.15) !important; //#C30019
  width: 28px !important;
  border-radius: 50% !important;
  border: 1px solid transparent !important;
  height: 28px !important;
  outline: 0;
  cursor: pointer;
}

.ui-widget-header {
  background: $secondary-color !important;
}

#slider_universal_min_term,
#slider_universal_max_term,
#slider_universal_min_first_p,
#slider_universal_max_first_p,
#slider_universal-result,
#slider_universal_min_count-result,
#slider_universal_min_first_count,
#slider_universal_max_first_count {
  font-size: 11px;
}

#slider_universal_min_term,
#slider_universal_max_term,
#slider_universal_min_first_p,
#slider_universal_max_first_p,
#slider_universal-result,
#slider_universal_min_count-result,
#slider_universal_max_first_count,
#slider_universal_min_first_count {
  display: inline-block;
}

.slider_universal-block,
.slider_universal-block-2{
  position: relative;
}
.slider_universal-block p, .slider_universal-block-2 p,
.slider_universal-block p label, .slider_universal-block-2 p label{
  margin-bottom: 0;
}


.result_item {
  margin-bottom: 17px;

  p {
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;

    &:first-child {
      font-size: 18px;
      line-height: 20px;
      color: rgba(41, 56, 69, 0.5);
      margin-bottom: 7px;
    }
    &#allSum {
      &::after {
        content: 'c';
        font-weight: bold;
        font-size: 27px;
        line-height: normal;
        color: $primary-color;
        text-decoration: underline;
        vertical-align: bottom;
      }
    }
  }

  #price {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    color: $secondary-color;
    margin-bottom: 0;

    &::after {
      content: 'c';
      font-weight: bold;
      font-size: 40px;
      line-height: normal;
      vertical-align: bottom;
      color: $secondary-color;
      text-decoration: underline;
    }
  }
}
.calc_result {
  .result_item {
    margin-bottom: 31px;
  }
  &--btn {
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    padding: 0;
  }
  &--info{
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #828282;
  }
}


@media (min-width: 1700px) {

}

@media (max-width: 1699px) {
  .credit-container {
    #home {
      .row.py-5 {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }
}
