.table-bordered {
  tr, td {
    border-color: #B7B7B7;
  }

  &>:not(caption) > * {
    border-width: 0;
  }

  &>:not(caption) > tr td:first-child,
  &>:not(caption) > tr td:last-child {
    border-width: 0;
  }
}



.exchange {
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  border-radius: 15px;
  max-width: 432px;
  width: 100%;
  min-height: 100%;
  padding: 30px 24px;
  &-header {
    span {
      font-weight: normal;
      font-size: 20px;
      line-height: 22px;
    }
  }
  table {
    td {
      font-weight: bold;
      font-size: 20px;
      line-height: 22px;
      color: $text-color;
    }
    .font-bold {
      color: $secondary-color;
    }
  }
}


@media (max-width: 769px) {
  .exchange {
    max-width: 100%;
  }
}
