.home-carousel {
  position: relative;

  &__info {
    position: absolute;
    margin-top: 144px;
    h3 {
      font-weight: bold;
      font-size: 72px;
      line-height: 81px;
      color: $text-color;
      margin-bottom: 16px;
    }
    p {
      font-size: 22px;
      line-height: 25px;
      color: $text-dark;
      margin-bottom: 31px;
    }
  }
}

#main-slider-slide02  {
  .home-carousel {
    &__info {
      margin-top: 235px;
    }
  }
}
