.most-important {
  position: relative;
  margin-top: 180px;
  margin-bottom: 180px;

  h2 {
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 56px;
  }
}

#news-slider {
  position: relative;
  img {
    border-radius: 10px;
    height: 328px;
  }

  .splide__arrows {
    position: absolute;
    right: 50px;
    bottom: 30px;
  }

  .splide__arrow {
    background: transparent;

    &--next {
      right: 0;
    }

    &--prev {
      left: 0;
    }
  }

  .splide__pagination {
    bottom: -30px;

    &__page {
      position: relative;
      background: #fff;
      border: 1px solid #D10324;
      transform: scale(1);
      width: 10px;
      height: 10px;
      margin: 0 3px;

      &.is-active {
        margin: 0 3px;
        transform: scale(1);
        &::before {
          content: '';
          width: 5px;
          height: 5px;
          background: #D10324;
          @extend %border-radius-50;
          position: absolute;
          top: 1px;
          left: 2px;
        }
      }
    }

    li {
      display: flex;
    }

    li:nth-child(2) {
      .splide__pagination__page {
        &.is-active {
          &::before {
            left: 1px;
          }
        }
      }
    }
  }


}

.news-container {
  &__list {
    background: rgba(239, 239 ,240, .5); // rgba(239,239,240, .5)
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    padding: 20px 17px 15px;
    min-height: 100%;
    max-width: 642px;
    margin: 0 auto;

    h5 {
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 20px;
      font-weight: normal;
    }
  }
  &__date {
    background: #EFEFF0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-right: 13px;
    padding: 8px;
    flex: 0 0 60px;
    height: 67px;
    &-count {
      font-size: 30px;
      line-height: 34px;
      color: #565656;
    }
    &-mount {
      font-size: 12px;
      line-height: 13px;
    }
  }
  &__info {
    a {
      text-decoration: none;
      @extend %transition;
      @extend %hidden-text-2;
      font-size: 14px;
      line-height: 16px;
      &:hover {
        text-decoration: underline;
      }
    }
    .text-end {
      position: absolute;
      bottom: -25px;
      right: 0;

      & {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.news-info {
  position: absolute;
  padding: 13px 16px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(214, 28, 58, .65); // #D61C3A rgba(214, 28, 58, .65);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 10px 10px;

  span {
    font-size: 16px;
    line-height: 18px;
  }
  p {
    font-size: 12px;
    line-height: 13px;
    opacity: 0.8;
  }
}


@media (max-width: 1000px) {
  .news-container__list {
    max-width: 100%;
  }
}


