#partnersSlider {
  padding: 20px 0;
  position: relative;
  overflow: hidden;


  .splide__slide {
    opacity: 1;
    img {
      filter: grayscale(100%);
    }
    &:hover {
      img {
        filter: none
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 95px;
    z-index: 2;
    height: 95px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(-90deg);
  }
  &::after{
    content: '';
    position: absolute;
    right: 0;
    top: -70px;
    z-index: 2;
    width: 94px;
    height: 222px;
    background: linear-gradient(180deg, #FFFFFF 59.91%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(90deg);
  }
}

.partners {
  margin-top: 110px;
  min-height: 290px;
  h2 {
    margin-bottom: 48px;
    font-size: 36px;
    line-height: 40px;
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 254px;
    height: 283px;
    z-index: -1;
  }
}
