.home-carousel {
  position: relative;

  &__info {
    position: absolute;
    margin-top: 144px;
    h3 {
      font-weight: bold;
      font-size: 72px;
      line-height: 81px;
      color: $text-color;
      margin-bottom: 16px;
    }
    p {
      font-size: 22px;
      line-height: 25px;
      color: $text-dark;
      margin-bottom: 31px;
    }
  }
}

#main-slider-slide02  {
  .home-carousel {
    &__info {
      margin-top: 235px;
    }
  }
}


@media (max-width: 1024px) {
  .home-carousel__info {
    h3 {
      font-size: 52px;
      line-height: normal;
    }
  }
  #main-slider-slide01 {
    .home-carousel__info {
      margin-top: 225px;
    }
  }
  #main-slider-slide02 {
    .home-carousel__info {
      // margin-top: 105px;
    }
  }
  #main-slider-slide03 {
    .home-carousel__info {
      margin-top: 225px;
    }
  }
  #main-slider-slide04 {
    .home-carousel__info {
      margin-top: 225px;
    }
  }
}

@media (max-width: 800px) {
  #main-slider-slide01 {
    .home-carousel__info {
      margin-top: 175px;
    }
  }
  #main-slider-slide02 {
    .home-carousel__info {
      // margin-top: 105px;
    }
  }
  #main-slider-slide03 {
    .home-carousel__info {
      margin-top: 175px;
    }
  }
  #main-slider-slide04 {
    .home-carousel__info {
      margin-top: 175px;
    }
  }
}


@media (max-width: 650px) {
  .home-carousel__info {
    h3 {
      font-size: 32px;
      line-height: normal;
    }
    p {
      display: none;
    }
    .button-primary, .button-gray, .button-secondary {
      height: 35px;
      font-size: 14px;
    }
  }

  #main-slider .splide__slide img {
    max-height: 300px;
  }
  #main-slider-slide01 {
    .home-carousel__info {
      margin-top: 50px;
    }
  }
  #main-slider-slide02 {
    .home-carousel__info {
      margin-top: 80px;
    }
  }
  #main-slider-slide03 {
    .home-carousel__info {
      margin-top: 80px;
    }
  }
  #main-slider-slide04 {
    .home-carousel__info {
      margin-top: 80px;
    }
  }
}

@media (max-width: 480px) {
  .home-carousel__info {
    h3 {
      font-size: 22px;
    }
    .button-primary, .button-gray, .button-secondary {
      height: 30px;
      font-size: 12px;
      min-width: 120px;
      padding: 10px;
    }
  }
  #main-slider-slide01 {
    .home-carousel__info {
      margin-top: 120px;
    }
  }
  #main-slider-slide02 {
    .home-carousel__info {
      margin-top: 120px;
    }
  }
  #main-slider-slide03 {
    .home-carousel__info {
      margin-top: 120px;
    }
  }
  #main-slider-slide04 {
    .home-carousel__info {
      margin-top: 120px;
    }
  }
}
