.gallery-block {
  @extend %box-shadow;
  padding: 24px;
}

.gallery-aside {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 43px;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.795902) 37.99%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    // border-radius: 5px;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 43px;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.819051) 37.78%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(image.png);
    // border-radius: 5px;
  }
}
