.history-aside {
  margin-top: 42px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    @extend %border-radius-5;
    width: 100%;
    object-fit: cover;
    height: 128px;
  }
  h6 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
}
