.news-page {

}


.news-section {
  padding: 56px 0;
}

.news-block {
  display: block;
  max-width: 370px;
  margin: 0 auto;
  text-decoration: none;
  &__img {
    width: 100%;
    object-fit: cover;
    max-height: 190px;
    @extend %border-radius-5;
  }
  &__date {
    margin: 16px 0 12px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #979797;
  }
  &__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    @extend %hidden-text-3;
  }

  &:hover {
    .news-block__text {
      text-decoration: underline;
    }
  }
}

.news-archive {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 48px;
  text-decoration: none;
  margin-bottom: 10px;

  &__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 40px;
  }

  &__date {
    @extend %flex-center;
    width: 104px;
    height: 100%;
    background: #EFEFF0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #979797;
  }

  &__info {
    display: block;
    margin: 0 12px;
    font-size: 16px;
    line-height: 18px;
    color: $text-dark;
  }
}

.news-scroll {
  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #979797;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }

  overflow: hidden;
  overflow-y: auto;
  max-height: 724px;
  max-width: 492px;
  margin-left: auto;
}

.news-single {

  .news-container__list {
    @extend %border-radius-5;
    padding: 24px;
    .d-flex.align-items-center.mb-2 {
      background: rgba(255, 255, 255, 0.75);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
      @extend %border-radius-5;
    }
  }

  &__content {
    h2 {
      font-weight: bold;
      font-size: 22px;
      line-height: 25px;
      color: $primary-color;
    }
    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      color: black;
    }
    img {
      border-radius: 10px;
    }
  }

}

