
.faq-aside {
  margin-top: 89px;
  h5 {
    margin-bottom: 67px;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
  }
  p {
    font-size: 16px;
    line-height: 18px;
    color: #979797;
  }

  @extend %box-shadow;
  padding: 32px;
}

.faq-sidebar {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.faq-section {

  h3 {
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
  }

  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
  }

  .petal-icon {
    top: auto;
    bottom: -80px;
    &__left {

    }
  }

}
