.question {
  &-container {
    margin: 72px 0 80px;
    @extend %box-shadow;
    padding: 40px 32px;

    h4 {
      font-weight: normal;
      font-size: 22px;
      line-height: 25px;
      margin-bottom: 32px;
    }

    p {
      margin-bottom: 40px;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
    }

    label {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 8px;
    }

    .form-control__red {
      height: 40px;
    }

    .button-primary {
      height: 40px;
    }

  }
}


@media (max-width: 900px) {
  .question-container {
    margin: 0 0 80px;
  }
}
