$dropdown-menu-padding: 20px 15px;
$dropdown-item-padding: 10px;

// @import "~rfs/scss";

@import "node_modules/rfs/scss";

* {
  outline: none;
}

body {
  font-family: 'Sansation', sans-serif;
  background-color: $white;
  color: $primary-color;
}

a {
  @extend %transition;
  color: $primary-color;
  &:hover {
    color: $primary-color;
  }
}

section {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.form-control:focus {
  color: $primary-color;
  background-color: #fff;
  border-color: $border-color;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(41 56 69 / 25%);
}

.petal-icon {
  z-index: -1;
  position: absolute;
  top: -150px;
  right: 0;
  background: url("../images/icons/petal.png") no-repeat;
  width: 1065px;
  height: 1048px;

  &__left {
    z-index: -1;
    position: absolute;
    top: 250px;
    left: 0;
    background: url("../images/icons/pental-left.png") no-repeat;
    width: 652px;
    height: 912px;
  }

}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
}

.navbar-nav {
  flex-direction: unset;
}

.nav-link {
  display: flex;
  align-items: center;
  color: $text-color;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  line-height: 20px;
  &:hover, &:focus, &:active {
    color: $primary-color;
  }
}

.dropdown-toggle {
  &::after {
    border: none;
    background-image: url("../images/icons/arrow-down.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 8px;
    @extend %transition;
  }
  &.show {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.h1 {
  @include font-size(70px);
  // @include rfs(70px);
  line-height: 65px;
  text-transform: uppercase;
}


.text {
  &__primary {
    color: $primary-color;
  }
  &__secondary {
    color: $secondary-color;
  }
  &__gray {
    color: $text-gray;
  }
  &__dark {
    color: $text-dark;
  }
  &__red {
    color: $text-red;
    &-dark {
      color: $text-red-dark;
    }
  }
}


.modal-header .btn-close {
  outline: none;
}


.img-shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 2;
  background: linear-gradient(0deg, rgba(10, 13, 67, 0.2), rgba(10, 13, 67, 0.2));
  opacity: 1;
  @extend %transition;
}

.btn {
  border-radius: 0;
  box-shadow: none !important;
}

.p {
  &-114 {
    padding: 114px 0;
  }
  &-100 {
    padding: 100px 0;
  }
  &-130 {
    padding: 130px 0;
  }
}

.mb {
  &-90 {
    margin-bottom: 90px;
    @media screen and (max-width: 700px) {
      margin-bottom: 45px;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $primary-color;
  text-decoration: none;

  svg {
    margin-left: 5px;
  }

  &:hover {
    color: $primary-color;
    svg {
      path {
        fill: $primary-color;
      }
    }
  }
}

.form-check-input {
  &:checked {
    background-color: $primary-color;
    border-color: $primary-color;
  }
  &:focus {
    border-color: $primary-color;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(41 56 69 / 25%);
  }
}

.form-control__red {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  background-color: #FFF8F9;
  font-size: 16px;
  line-height: 18px;
  color: $primary-color;

  &::placeholder {
    color: rgba(41, 56, 69, 0.5);
    font-size: 16px;
    line-height: 18px;
  }

  &:focus {
    color: $primary-color;
    background-color: #fff;
    border-color: $border-color;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 248 249 / 50%);
  }
}


.zoomOut {
  transform: scale(1.1);
  transition: all 2s ease-out;
  &.active {
    transform: scale(1); //1.05
  }
}


.slide-up.active {
  animation: slide-up 1.4s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide-up {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 576px) {
  .text-sm-none {
    text-align: unset !important;
  }
}

@media (min-width: 1220px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1280px;
  }
}

@media (min-width: 1450px) {
  .container {
    padding: 0;
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media (min-width: 1700px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1680px;
  }
}

@media screen and (max-width: 1250px){
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 1000px) {
  .petal-icon {
    width: 100%;
    height: 100%;
  }
  .news-container__list {
    max-width: 100%;
  }
}

@media (max-width: 680px) {
  .p {
    &-114 {
      padding: 50px 0;
    }
    &-100 {
      padding: 50px 0;
    }
    &-130 {
      padding: 50px 0;
    }
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    padding: $dropdown-menu-padding;
  }
  .w-sm-auto {
    width: auto;
  }
}

@media (max-width: 576px) {}
@media (max-width: 350px) {}


