:root {
  --bs-blue: #293845;
}

$primary-color: #293845;
$secondary-color: #C30019;
$text-color: #3B3737;
$text-red: #D14903;
$text-red-dark: #D10324;
$text-dark: #323232;
$text-gray: #B7B7B7;
$border-color: #B7B7B7;
$white: white;
