.hamburger {
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  margin-top: 4px;
  margin-right: 5px;
  span {
    @extend %transition;
    height: 0;
    display: block;
    border: 1px solid $primary-color;
    width: 100%;
    // background-color: $text-color;
  }
  &.active {
    // transform: translate(10px, 0px);
    height: 27px;
    margin-top: 0;
    span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(3px, 8px);
      }
      &:nth-child(2) {
        transform: rotate(-45deg) translate(1px, -5px);
      }
      &:nth-child(3) {
        display: none;
      }
    }
  }
}

.hamburger-close {
  position: absolute;
  top: 50px;
  right: 100px;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  span {
    height: 0;
    display: block;
    border: 1px solid $primary-color;
    width: 100%;
    &:nth-child(1) {
      transform: rotate(45deg) translate(0, 0);
    }
    &:nth-child(2) {
      transform: rotate(-45deg) translate(2px, -2px);
    }
  }
}
