$header-horizontal: 14px;
$header-vertical: 49px;
$header-item: 45px;

.header {
  position: absolute;
  height: 109px;
  z-index: 2;
  background: transparent;

  &-top {
    z-index: 2;
    &__block {
      margin: 0 8px;
      @extend %flex-center;
      display: inline-flex;
      padding: 12px 0;
      height: 48px;
      background: rgba(255, 255, 255, 0.6);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 0 0 10px 10px;
      font-size: 20px;
      line-height: 22px;
    }
  }

  &-bottom {
    margin-top: 27px;
    ul {
      margin-right: 10px;
    }
  }

  .navbar-nav {
    .nav-link {
      align-items: baseline;
    }
  }

}

.search-form {
  width: 430px;
  input {
    width: 100%;
    position: relative;
    background: transparent;
    font-size: 20px;
    border: none;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    color: $primary-color;

    &::placeholder {
      color: rgba(41, 56, 69, 0.5);
    }
  }
  button {
    background: transparent;
    border: none;
    right: 0;
    top: 0;
  }
}


@media (max-width: 1230px) {
  .search-form {
    width: 230px;
  }
}

@media (max-width: 1020px) {
  .header {
    display: flex;
    align-items: center;
    .logo-link {
      margin-right: auto;
    }
    &-top {
      display: none !important;
    }
  }
}

@media (max-width: 890px) {
  .header {
    &-bottom {
      ul {
        display: none;
      }
    }
  }
}
