body.active {
  overflow: hidden;
}

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  padding: 95px 170px;
  z-index: 1011;
  transform: translateY(-100%);
  transition: all .5s ease-in-out;
  opacity: 0;
  // display: none;

  &__container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  &__block {
    h5 {
      font-weight: normal;
      font-size: 28px;
      line-height: 31px;
      color: $secondary-color;
      margin-bottom: 16px;
      a {
        color: $secondary-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    ul {
      li {
        a {
          font-size: 18px;
          line-height: 30px;
          color: $text-color;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .text__red {
          color: $secondary-color;
        }
      }
    }
  }

  &.active {
    // display: block;
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-social {
  max-width: 240px;
}

@media (max-width: 1400px) {
  .main-menu {
    padding: 45px 30px;
    overflow: hidden;
    overflow-y: auto;
  }
  .hamburger-close {
    top: 10px;
    right: 10px;
  }
}

@media (max-width: 768px) {
  .main-menu__container {
    .row {
      text-align: center;
    }
  }
  .main-menu__block {
    ul li a {
      justify-content: center;
    }
  }
  .menu-social {
    margin: 30px auto;
  }
}
