$tablet-width: 1070px;

@media screen and (min-width: $tablet-width) {
  .mobile-button, .mobile-button-close {
    display: none;
  }
  .nav-drill {
    display: none;
  }
}

@media screen and (max-width: $tablet-width) {
  .header {
    .btn-software, .btn-software__outline {
      margin-right: 1rem;
    }
  }
  .mobile-button, .mobile-button-close {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 26px;
    z-index: 99999999999;
    position: relative;
    background-color: transparent;
    border: none;
    span {
      width: 32px;
      height: 2px;
      background-color: $white;
    }
  }

  .mobile-footer {
    padding: 0 15px;
  }

  .mobile-button-close {
    position: absolute;
    right: 20px;
    top: 20px;

    span {
      background-color: white;

      &:nth-child(1) {
        transform: rotate(45deg);
        margin-top: 24px;
      }

      &:nth-child(2) {
        transform: rotate(135deg);
        margin-top: -14px;
      }
    }
  }


  .nav-drill {
    transform: translateX(-100%);
  }
  .nav-is-toggled {
    overflow: hidden;
    .nav-drill {
      transform: translateX(0);
    }
    .mobile-button span {
      background-color: $white;
      &:nth-child(1) {
        transform: rotate(45deg);
        margin-top: 10px;
      }
      &:nth-child(2) {
        transform: rotate(135deg);
        margin-top: -14px;
      }
      &:nth-child(3) {
        visibility: hidden;
      }
    }
  }

  // ---------------------------------------
  // important stuff starts here

  $nav-width: 100%;
  $nav-padding: 0.875em 1em;
  $nav-border-color: rgba(0,0,0,0);
  $nav-background-color: #393D47;
  $nav-level-border-color: rgba(0,0,0,0);
  $nav-level-background-color: #393D47;

  .nav {
    &-drill {
      display: flex;
      padding-top: 90px;
      // padding-left: 18px;
      position: absolute;
      z-index: 999999999;
      top: 0;
      left: 0;
      flex-direction: column;
      width: $nav-width;
      height: 100vh;
      background-color: $primary-bg-color;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      transition: 0.45s;

      .nav-link__login {
        position: absolute;
        top: 40px;
        left: 18px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        &:hover, &.active {
          text-decoration: underline;
          color: $blue-secondary;
        }
      }

      .nav-item {
        margin: 35px 0;

        &__children {
          & > a {
            position: relative;
            &::after {
              //top: 0;
              //right: 0;
              position: absolute;
              margin-left: 95px;
              content: '';
              width: 11px;
              height: 6px;
              display: block;
              background: url("/assets/images/icons/dropdown_arrow.svg") no-repeat;
            }
          }
          &.open {
            & > a {
              &::after {
                transform: rotate(180deg);
                background: url("/assets/images/icons/dropdown_arrow_hover.svg") no-repeat;
              }
            }
          }
        }

      }

      .nav-link {
        justify-content: center;
      }
    }

    &-items {
      flex: none; //0 0 100%
      margin: 0 0 40px;
      padding: 0;
      list-style: none;
      border-top: 1px solid rgba(255, 255, 255, 0.4);

    }

    &-expand {
      &-content {
        position: relative;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(0%);
        transition: 0.3s;
        visibility: visible;
        z-index: 2;
        list-style: none;
        margin: 0;
        padding: 20px 10px 1px;
        background: $secondary-bg-color;

        .nav-item:nth-child(1) {
          margin: 11px 0 0 0;
        }

        .nav-back-link {
          padding-left: 50px;
          position: relative;
          display: flex;
          align-items: center;
          color: $white;
          height: 62px;
          font-family: Work Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 15px;
          letter-spacing: 0.1em;
          text-transform: uppercase;

          &::before {
            content: '';
            position: absolute;
            left: 16px;
            top: 24px;
            width: 25px;
            height: 18px;
            display: block;
            // background: url("/assets/images/bootstrap/arrow-white-left.svg") no-repeat;
          }
        }
      }

      &-link {
        display: flex;
        position: relative;
        justify-content: space-between;

        &::after {
          content: '';
          position: absolute;
          right: 16px;
          top: 25px;
          width: 25px;
          transform: rotate(180deg);
          height: 18px;
          display: block;
          // background: url("/assets/images/bootstrap/arrow-white-left.svg") no-repeat;
        }
      }

      &.active {
        > .nav-expand-content {
          transform: translateX(0);
          visibility: visible;
        }
      }

      // quick example for other level colours
      .nav-expand-content {
        background-color: $nav-level-background-color;
        .nav-link {
          background-color: $nav-level-background-color;
        }
      }
    }
  }
}

.nav-drill {
  .nav-item {
    & > a {
      pointer-events: none;
    }
    &.nav-item__children.open {
      .nav-expand-content {
        display: block;
      }
    }
    &:nth-child(2),&:nth-child(4) {
      & > a {
        pointer-events: auto;
      }
    }
  }
  .nav-expand-content {
    a {
      pointer-events: auto;
    }
  }
}


