form {

  .alert {
    margin-left: 12px;
    margin-right: 12px;
  }

  label {
    margin-bottom: 5px !important;
  }

  ul.errors {
    width: 100%;
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $red;
    //position: absolute;
    //top: 22px;

    &::before {
      content: '';
      position: absolute;
      top: 40px;
      right: 28px;
      width: 24px;
      height: 24px;
      background: url("../images/icons/error.svg") no-repeat;

    }
  }

  .form-group__check {
    ul.errors {
      &::before {
        display: none;
      }
    }
  }

  .form-group__select {
    ul.errors {
      &::before {
        right: 64px;
      }
    }
  }

  .has-error {
    position: relative;

    //.form-label {
    //  margin-bottom: 18px;
    //}

    input, textarea {
      border-color: $red;
      color: $red;
      position: relative;

      &::placeholder {
        color: $red;
      }


    }

    input[type="checkbox"] {
      &::before {
        display: none;
      }
    }

    .ss-main .ss-single-selected {
      border-color: $red;
      color: $red;
      & .placeholder .ss-disabled {
        color: $red;
      }
    }

  }
}


@media screen and (max-width: 576px){
  form .alert {
    margin-left: 0;
    margin-right: 0;
  }
  form ul.errors::before {
    right: 15px;
  }
  form .form-group__select ul.errors::before {
    right: 44px;
  }
}

@media screen and (max-width: 376px){
  form ul.errors::before {
    right: 25px;
  }
}
